<br/>
<div>
    <div class="dropdown">
        <button class="dropbtn">{{firstTarget ? firstTarget.cc : "???"}}</button>
        <div class="dropdown-content">
            <app-dropdown *ngFor="let singleExchangeRate of exchangeRates" [exchangeRate]="singleExchangeRate" (voted)="onTarget1($event)"></app-dropdown>
        </div>
    </div>
        <input type="number" (blur)="convert('firstNum')" [(ngModel)]="firstNum"/>
        <input type="number" (blur)="convert('secondNum')" [(ngModel)]="secondNum"/>
    <div class="dropdown">
        <button class="dropbtn">{{secondTarget ? secondTarget.cc : "???"}}</button>
        <div class="dropdown-content">
            <app-dropdown *ngFor="let singleExchangeRate of exchangeRates" [exchangeRate]="singleExchangeRate" (voted)="onTarget2($event)"></app-dropdown>
        </div>
    </div>
</div><br />